.Home {

}

.Home .Layla-Avatar {
    width: 181px;
    height: 195px;
    margin-top: 22px;
}

.Home a {
    text-decoration: none;
}

.Home h3 {
    font-weight: lighter;
    margin: 10px 30px 1em 30px;
    color: #4a4a4a;
}

.Home .NavItem {
    max-height: 83px;
    font-size: 24px;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.Home .NavItem p {
    margin: 0;
    line-height: 1;
}

.Home .NavItem i {
    font-size: 40px;
}

.Home .NavItem-Specialist {
    color: white;
    background-color: #69b8e9;
}

.Home .NavItem-NoSpecialist {
    color: #69b8e9;
    border: solid 1px #69b8e9;
}

.Home .NavItem-Exercises {
    color: white;
    background-color: #8765bf;
}

.Home .NavItem-Meditation {
    color: white;
    background-color: #60c4a0;
}

.Home .NavItem-Symptoms {
    color: white;
    background-color: rgba(255, 188, 114, 0.98);
}