.Search {
    color: #4a4a4a;
}
.Search .Search-Bar {
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    position: relative;
}

.Search .Search-Bar > * {
    width: 100%;
}

.Search .Search-Bar label {
    margin-bottom: 1em;
    border-radius: 4px;
}

.Search .Search-Bar input {
    color: #4a4a4a;
}

.Search .Search-Bar .Background {
    background-size: cover;
    background-image: url('../../assets/38530.jpg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.Search .Search-Bar .Background::after {
    content: "";
    background-size: contain;
    position: absolute;
    background-color: rgba(74, 144, 226, 0.45);
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.Search .No-Results {
    margin: 0 2em 0 2em;
}

.Search .No-Results .Layla-Outlined {
  width: 122px;
  height: 131px;
  margin-top: 2em;
}

.Search .No-Results h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.Search .No-Results h4 {
    margin-top: 10px;
    font-weight: lighter;
}

.Search .Filters-Button {
    text-align: left;
    padding-top: 10px;
    padding-left: 3em;
}

.Search .Drawer {
    position: absolute;
    top: 0;
    padding: 18px;
}

.Search .Drawer h2 {
    text-align: left;
}

.Search .Drawer .mdc-drawer__header {
    min-height: auto;
    text-align: left;
    padding-left: 0;
}

.Search .Drawer .mdc-form-field {
    display: flex;
    margin-bottom: 10px;
}

.Search .Drawer .mdc-switch{
    margin-right: 10px;
}
.Search .Drawer .mdc-slider{
    width: 80%;
    margin-left: 5px;
}
