.Recommendation {
    color: #4a4a4a;
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Recommendation h1, 
.Recommendation h2 {
    font-weight: lighter;
}

.Recommendation b {
    font-weight: normal;
}

.Recommendation img {
    align-self: center;
}

.Recommendation h1 {
    font-size: 36px;
}

.Recommendation a {
    text-decoration: none;
    width: 100%;
}

.Recommendation button {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    line-height: 1;
}

