.Onboarding__Step-One {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../../assets/layla_stretched.svg');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: auto;
    background-position: center 100%;
}

.Onboarding__Step-One .Info-Text {
    height: 314px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 314px;
}

.Onboarding__Step-One h4 {
    margin-bottom: 0;
    padding: 0 2em 0 2em;
    margin-top: 15px;
}

.Onboarding__Step-One h5 {
    font-weight: lighter;
    margin-bottom: 0;
}

.Onboarding__Step-One .Info-Text span {
    padding: 2em 1em 2em;
    font-size: 18px;
    line-height: 1;
    z-index: 1;
}

.Onboarding__Step-One .Layla {
    position: absolute;
    bottom: 200px;
    width: 50vw;
}

.Onboarding__Step-One .Wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Onboarding__Step-One .Wave svg {
    height: 314px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0;
}

.Onboarding__Step-One .Navigation {
    display: flex;
    z-index: 1;
    margin-bottom: 20px;
}

.Onboarding__Step-One .Navigation .Nav-Icon {
    font-size: 18px;
    color: #b3b3b3;
}

.Onboarding__Step-One .Navigation .Nav-Icon-Arrow {
    color: white;
}

.Onboarding__Step-One .Navigation .Nav-Icon-Circle {
}
.Onboarding__Step-One .Navigation .Nav-Icon--Active {
    color: white;
}