.Onboarding__Step-Three {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #8765bf;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/wave_purple.svg');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: auto;
    background-position: center 100%;
}

.Onboarding__Step-Three .Man-With-Ball {
    width: auto;
    height: 200px;
}

.Onboarding__Step-Three .Info-Text {
    height: 314px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 314px;
    z-index: 2;
    position: relative;
}

.Onboarding__Step-Three h3 {
    margin-top: 15px;
    margin-bottom: 1em;
    padding: 0em 1em 0 1em;
    font-weight: lighter;
    color: white;
    font-size: 40px;
}

.Onboarding__Step-Three .Info-Text span {
    padding: 0 2em 1em 2em;
    font-size: 24px;
    line-height: 1;
    z-index: 1;
}

.Onboarding__Step-Three .Wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Onboarding__Step-Two .Wave svg {
    height: 314px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0;
}

.Onboarding__Step-Three .Navigation {
    display: flex;
    z-index: 1;
    margin-bottom: 20px;
}

.Onboarding__Step-Three .Navigation .Nav-Icon {
    font-size: 18px;
    color: #b3b3b3;
}

.Onboarding__Step-Three .Navigation .Nav-Icon-Arrow {
    color: white;
}

.Onboarding__Step-Three .Navigation .Nav-Icon--Active {
    color: white;
}